/* styles.css */

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.custom-header {
  color: #f4f4f4;
  font-weight: normal;
}

header {
  background-color: #895159;
  font-family: Playfair Display, serif;
  font-weight: normal;
  font-size: x-large;
  padding: 2px;
}


/* Basic styling for the nav buttons */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;  /* Set the text color to white */
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid transparent;  /* Initially no border */
  border-radius: 5px;
  transition: all 0.3s ease; /* Smooth transition effect */
}

/* Hover effect to enlarge the buttons */
nav ul li a:hover {
  font-size: 18px; /* Increase font size on hover */
  padding: 12px 24px; /* Optionally increase padding */
  transform: scale(1.1); /* Slightly enlarge the button */
  color: #ffcccc;  /* Change text color to dark gray on hover */
}

h1 {
  text-align: center;
  padding: 20px;
}

/* Main content layout */
.main-content {
  display: flex;
  align-items: center; /* Vertically align the items */
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20vw;
  padding-right: 20vw;
}

/* Style the image container */
.image-container img {
  width: 300px; /* Adjust width of the image */
  height: auto;
  margin-right: 20px; /* Space between the image and the text */
}

/* Style for the text container */
.text-container {
  max-width: 500px; /* Set a maximum width for the text container */
  min-width: 200px;
  margin-right: 20px;
}

/* Subheader style */
.subheader {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px; /* Space between subheader and paragraph */
}

/* Body text style */
.body-text {
  font-size: 1em;
  line-height: 1.6;
  color: #555;
  margin-right:20;
}
